/*////////////////////// FECHADO /////////////////*/

.missoesContainer{
    margin: 40px;
    height: 128px;
    width: 360px;
    background-image: url(../assets/fechado.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-end;
    transition-duration: 0.5s;
}

.nivelGeral{       
    transition-delay: 0.15s;
    height: 30px;
}

.nivelM1, .nivelM2, .nivelM3, .nivelM4 {       
    transition-delay: 0.15s;
    font-size: 1.3em;
    color: black;
    display: none;
    text-align: center;
}

.caveiraRei{       
    transition-delay: 0.15s;
    font-size: 1.2em;
}

.ttl {       
    transition-delay: 0.15s;
    flex: 1;
    color: black; 
    font-family: "MedievalSharp", cursive;
    padding: 15px 18px;
    font-size: 1em;
    text-align: center;
}

.descr{           
    transition-delay: 0.3s;
    display: none;
}

.gold{       
    transition-delay: 0.3s;
    display: none;
}

/*////////////////////// ABERTO /////////////////*/

.missoesContainerAberto{
    margin: 40px;
    height: 520px;
    width: 360px;
    background-image: url(../assets/aberto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;    
    transition-duration: 0.5s;
}

.nivelGeralA{       
    transition-delay: 0.15s;
    height: 5%;
}

.nivelM1A, .nivelM2A, .nivelM3A, .nivelM4A {       
    transition-delay: 0.15s;
    font-size: 1.5em;
    color: black;
    display: none;
    text-align: center;
}

.caveiraReiA{       
    transition-delay: 0.15s;
    font-size: 1.2em;
}

.ttlA {       
    transition-delay: 0.15s;
    color: black; 
    font-family: "MedievalSharp", cursive;
    padding: 15px 10px;
    font-size: 1.4em;
    text-align: center;
}

.descrA{       
    transition-delay: 0.3s;
    color: black;    
    font-family: "Protest Revolution", sans-serif;
    text-align: center;
    flex: 1;
}

.goldA{       
    transition-delay: 0.3s;
    padding-bottom: 40px;
    padding-right: 30px;
    color: black;     
    font-family: "MedievalSharp", cursive;
    text-align: right;
}